---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
    color: #222;
    margin: 0 0 10px;
    text-transform: uppercase;
}

h3 {
    font-size: 1em;
}

.socialMedia {
    padding-top: 6px;
}
